body {
  margin: 0;
  background: repeating-linear-gradient(45deg, gray, #000 10px, #222 10px, #222 20px);
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Roboto', sans-serif;
}

nav {
    background: linear-gradient(35deg, #c3cdcd 30%, black 90%);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
  color: white;
  font-size: 1.5em;
  margin: 0;
  background: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 1px silver;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px;
}

.row {
  background: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    width: 90%;
    margin: 5vh auto;
    display: flex;
    flex-wrap: wrap;
}

aside {
    width: 20%;
    margin: 20px;
    border-right: 5px solid #000;
    font-size: 2.5em;
    font-weight: 600;
    text-align: right;
    padding-right: 10px;
}

main {
    width: 70%;
    margin: 20px auto;

}

.about img {
    border-radius: 50%;
    float: left;
    width: 150px;
    margin: 0 20px;
}

.apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.app {
    border: 2px solid #000;
    border-radius: 8px;
    position: relative;
    margin: 10px auto;
    width: 48%;
}

.app:first-child {
    width: 100%;
    height: 30vh;
}

.app img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 98%;
    border-radius: 0 0 8px 8px;
    text-align: center;
    background: black;
    padding: 5px;
    color: white;
    position: absolute;
    opacity: .65;
}
